@import "../tokens/all";

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 0 $space-sm;
  margin: 0 auto;

  @include breakpoint-lg {
    width: 1024px;
    border-left: 1px solid $color-grey-1;
    border-right: 1px solid $color-grey-1;
  }
}
