@import "../../styles/tokens/all";

.survey {
  padding: 0 $space-sm;
  
  &_title {
    text-align: center;
    color: $brand-primary-color;
    margin-bottom: $space-lg;
  }

  &_question {
    margin-bottom: $space-md;
  }

  &_submitBtn {
    border: none;
    border-radius: $space-xl;
    background: $brand-primary-color;
    padding: $space-sm $space-xs;
    margin: $space-sm 0;
    color: $color-white;
    display: block;
    text-align: center;
    width: 100%;
    font-size: $font-lg;
    cursor: pointer;
  }

  @include breakpoint-lg {
    margin: 5% 25% 50%;
    padding: $space-sm;
    border-radius: $space-xs;
    border: 1px solid $brand-primary-color;
    box-shadow: 0 0 8px 4px $brand-primary-color;

    &_submitBtn {
      width: 90%;
      margin: $space-sm auto;
    }
  }
}
